
body {
	background:url("../images/circus_tent.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font: 100%/1.5;
}
ul {
	list-style-type:none;
	float:right;
}
h2, h3{
	font-family:"Henny Penny";
	font-size:1.5em;
}
p {
	font-family:"armata";
}
aside {
	float:right;
	width:29%;
	margin:2%;
	background-color: rgb(255,0,0);
	padding:1.5%;
	border-radius:2em;
}
article {
	background-color: rgba(255,255,255,.3);
}
td, th{
	color:rgb(0,255,0);
	text-align:center;
}
form {
	margin-left:20%;
}
label, input, select {
	width:50%;
}
strong {
	margin-left:25%%;
}
ol{
	list-style-type:none;
}
img{
	max-width:100%;
}
a:hover{
	color:rgb(255,255,255);
}

.nav {
	float:left;
	margin-right:3em;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,0,0) 0%, rgb(175,0,0) 100%); 
	background: -webkit-linear-gradient(top,  rgb(255,0,0) 0%, rgb(175,0,0) 100%);
	background: linear-gradient(to bottom,  rgb(255,0,0) 0%, rgb(175,0,0) 100%);
	border-radius:.625em;
	text-align:center;
	padding:1em;
}
.title {
	float:left;
	margin:10%;
	font-family:"Joti One";
	font-size:9.5em;
	text-shadow: 5px 5px 5px rgb(255,0,0); /* not converted to percent due to style purposes.  Font size is adjusted. */
}
.clear {
	clear:both;
}
.gallery {
	float:left;
	margin-left:2%;
	overflow:hidden;
}
.col {
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	background-color: rgba(255,255,255,.3);
}
#container{
	width:100%;
	margin:auto;
	overflow:hidden;
}
#apparatuses {
	float:left;
	width:60%;
	margin:2%;
}
/* Media Queries */

/* tablet landscape */
	@media only screen and (min-width:768px) and (max-width:959px){
	aside {
		float:left;
		width: 50%;
		margin: 2% 25%;
	}
	#apparatuses {
		width:70%;
		margin: 2% 15%;
	}
	.title {
		font-size:7.5em;
	}
	}
/* tablet portrait */
	@media only screen and (min-width:480px) and (max-width:767px){
	aside {
		float:left;
		width: 50%;
		margin: 2% 25%;
	}
	#apparatuses {
		width:70%;
		margin: 2% 15%;
	}
	body{
		background:none;
	}
	.title {
		font-size:5.5em;
	}
	.col {	
		-webkit-column-count:1;
		-moz-column-count:1;
		column-count:1;
	}
	}
/* mobile landscape */
	@media only screen and (max-width:479px){
	body{
		background:none;
	}
	aside {
		float:left;
		width: 50%;
		margin: 2% 25%;
	}
	#apparatuses {
		width:70%;
		margin: 2% 15%;
	}
	.title {
		font-size:4.5em;
	}
	.col {	
		-webkit-column-count:1;
		-moz-column-count:1;
		column-count:1;
	}
	.gallery {
		display:none;
	}
	.nav{
		margin-right:1.5em;
	}
	}
